<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-5">
        <%= image_tag "profile.png", width: 300, alt: "Profile Image", class: 'profile-image' %>
      </div>
      
      <div class="col-md-7">
        <p>With about 2-3 years of coding experience, I am trying to learn as much as possible to be a great coder and give a great final project to the client. My job is also about communicating with the client so there are no miscommunications and to get the exact result the client wants.</p>
      </div>
    </div>
  </div>
</div>



