<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-5">
        <h3>Office Address</h3>
        
        <p>3980 Eccles Ave, Ogden, UT 84403</p>
        
        <h3>Phone</h3>
        
        <p><%= number_to_phone "3853331644" %></p>
        
        <h3>Email</h3>
        
        <p><a href="mailto:ethan.stewart35@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>
      
      <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.443002011369!2d-111.95566758413382!3d41.19031447928267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530f5321695f25%3A0xc313cc9e334ccd68!2s3980+Eccles+Ave%2C+Ogden%2C+UT+84403!5e0!3m2!1sen!2sus!4v1499363716793" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
