<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Coding is a very awesome and useful tool to do so much. Software development, web development, and game development all fall in this category. My job to communicate with the client and build application with a friendly user experience that looks good while also communicating with the client to get exactly what he wants.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>